<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Intact Organisations</h3>
  </div>
  <div class="panel-body">
    <div class="well">
      <p><a href="">Production </a></p>
    </div>
    <div class="well">
      <p><a href="">Conversion Project </a></p>
    </div>
    <div class="well">
      <p><a href="">D16 </a></p>
    </div>
    <div class="well">
      <p><a href="">D15 </a></p>
    </div>
    <div class="well">
      <p><a href="">D14 </a></p>
    </div>
  </div>
</div>